{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "react/jsx-filename-extension": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "import/no-named-as-default": 0,
    "no-shadow": 0,
    "global-require": 0,
    "arrow-body-style": 0,
    "no-underscore-dangle": 0,
    "array-callback-return": 0,
    "consistent-return": 0,
    "one-var": 0,
    "jsx-a11y/no-autofocus": 0,
    "import/no-named-as-default-member": 0,
    "one-var-declaration-per-line": 0
  }
}